Repository doheez/Algorithm-Study, pull requests merged in 2022-05, with the labels that each got.

#35 week8-HyeW
  BOJ/DFS, BFS/10026_적록색약/HyeW/README.md
  BOJ/DFS, BFS/10026_적록색약/HyeW/RGB.java
  BOJ/DFS, BFS/13023_ABCDE/HyeW/ABCDE.java
  BOJ/DFS, BFS/13023_ABCDE/HyeW/README.md
  BOJ/DFS, BFS/2573_빙산/HyeW/README.md
  BOJ/DFS, BFS/2573_빙산/HyeW/iceberg.java
Labels: Java, Graph traversal

#36 week8-PPakSang
  BOJ/DFS, BFS/10026_적록색약/PPakSang/Main.java
  BOJ/DFS, BFS/10026_적록색약/PPakSang/README.md
  BOJ/DFS, BFS/13023_ABCDE/PPakSang/Main.java
  BOJ/DFS, BFS/13023_ABCDE/PPakSang/README.md
  BOJ/DFS, BFS/2573_빙산/PPakSang/Main.java
  BOJ/DFS, BFS/2573_빙산/PPakSang/README.md
Labels: Java, Graph traversal

#34 week8-doheez
  BOJ/DFS, BFS/10026_적록색약/doheez/README.md
  BOJ/DFS, BFS/10026_적록색약/doheez/index.js
  BOJ/DFS, BFS/13023_ABCDE/doheez/README.md
  BOJ/DFS, BFS/13023_ABCDE/doheez/성공.js
  BOJ/DFS, BFS/13023_ABCDE/doheez/실패_시간초과.js
  BOJ/DFS, BFS/17142_연구소_3/doheez/README.md
  BOJ/DFS, BFS/17142_연구소_3/doheez/dev/stdin
  BOJ/DFS, BFS/17142_연구소_3/doheez/index.js
  BOJ/DFS, BFS/2573_빙산/doheez/README.md
  BOJ/DFS, BFS/2573_빙산/doheez/index.js
Labels: JavaScript, Graph traversal

#33 week8-hw0603
  BOJ/DFS, BFS/10026_적록색약/hw0603/10026.py
  BOJ/DFS, BFS/10026_적록색약/hw0603/README.md
  BOJ/DFS, BFS/13023_ABCDE/hw0603/13023.py
  BOJ/DFS, BFS/13023_ABCDE/hw0603/README.md
  BOJ/DFS, BFS/2573_빙산/hw0603/2573.py
  BOJ/DFS, BFS/2573_빙산/hw0603/README.md
Labels: Python, Graph traversal

#37 week9-HyeW
  .gitignore
  BOJ/DFS, BFS/10026_적록색약/10026_적록색약.iml
  BOJ/DFS, BFS/13023_ABCDE/13023_ABCDE.iml
  BOJ/DFS, BFS/14502_연구소/14502_연구소.iml
  BOJ/DFS, BFS/16234_인구_이동/16234_인구_이동.iml
  BOJ/DFS, BFS/16236_아기_상어/16236_아기_상어.iml
  BOJ/DFS, BFS/17142_연구소_3/17142_연구소_3.iml
  BOJ/DFS, BFS/1926_그림/1926_그림.iml
  BOJ/DFS, BFS/1967_트리의_지름/1967_트리의_지름.iml
  BOJ/DFS, BFS/2178_미로_탐색/2178_미로_탐색.iml
  BOJ/DFS, BFS/2573_빙산/2573_빙산.iml
  BOJ/DFS, BFS/2668_숫자고르기/2668_숫자고르기.iml
  BOJ/DP/10844_쉬운_계단_수/10844_쉬운_계단_수.iml
  BOJ/DP/11053_가장_긴_증가하는_부분_수열/11053_가장_긴_증가하는_부분_수열.iml
  BOJ/DP/11057_오르막_수/11057_오르막_수.iml
  BOJ/DP/12865_평범한_배낭/12865_평범한_배낭.iml
  BOJ/DP/14002_가장_긴_증가하는_부분_수열_4/14002_가장_긴_증가하는_부분_수열_4.iml
  BOJ/DP/1520_내리막_길/1520_내리막_길.iml
  BOJ/DP/2631_줄세우기/2631_줄세우기.iml
  BOJ/DP/9251_LCS/9251_LCS.iml
  BOJ/DP/9252_LCS2/9252_LCS2.iml
  BOJ/DivideAndConquer/1780_종이의_개수/1780_종이의_개수.iml
  BOJ/DivideAndConquer/1992_쿼드트리/1992_쿼드트리.iml
  BOJ/Greedy/1041_주사위/HyeW/README.md
  BOJ/Greedy/1041_주사위/HyeW/dice.java
  BOJ/Greedy/11000_강의실_배정/HyeW/README.md
  BOJ/Greedy/11000_강의실_배정/HyeW/lectureRoom.java
  BOJ/Greedy/1461_도서관/HyeW/README.md
  BOJ/Greedy/1461_도서관/HyeW/library.java
Labels: Java, Greedy

#39 week9-doheez
  BOJ/Greedy/1041_주사위/doheez/README.md
  BOJ/Greedy/1041_주사위/doheez/index.js
  BOJ/Greedy/11000_강의실_배정/doheez/README.md
  BOJ/Greedy/11000_강의실_배정/doheez/index.js
  BOJ/Greedy/1461_도서관/doheez/README.md
  BOJ/Greedy/1461_도서관/doheez/index.js
Labels: JavaScript, Greedy

#38 week9-hw0603
  BOJ/Greedy/1041_주사위/hw0603/1041.py
  BOJ/Greedy/1041_주사위/hw0603/README.md
  BOJ/Greedy/11000_강의실_배정/hw0603/11000.py
  BOJ/Greedy/11000_강의실_배정/hw0603/README.md
  BOJ/Greedy/1461_도서관/hw0603/1461.py
  BOJ/Greedy/1461_도서관/hw0603/README.md
Labels: Greedy

#40 week9-PPakSang
  BOJ/Greedy/1041_주사위/PPakSang/Main.java
  BOJ/Greedy/1041_주사위/PPakSang/README.md
  BOJ/Greedy/11000_강의실_배정/PPakSang/Main.java
  BOJ/Greedy/11000_강의실_배정/PPakSang/README.md
  BOJ/Greedy/1461_도서관/PPakSang/Main.java
  BOJ/Greedy/1461_도서관/PPakSang/README.md
Labels: Java, Greedy

#44 week10-HyeW
  BOJ/Greedy/1092_배/HyeW/README.md
  BOJ/Greedy/1092_배/HyeW/ship.java
  BOJ/Greedy/1339_단어_수학/HyeW/README.md
  BOJ/Greedy/1339_단어_수학/HyeW/wordMath.java
  BOJ/Greedy/1715_카드_정렬하기/HyeW/README.md
  BOJ/Greedy/1715_카드_정렬하기/HyeW/cardSort.java
Labels: Java, Greedy

#42 week10-PPakSang
  BOJ/Greedy/1092_배/PPakSang/Main.java
  BOJ/Greedy/1092_배/PPakSang/README.md
  BOJ/Greedy/1339_단어_수학/PPakSang/Main.java
  BOJ/Greedy/1339_단어_수학/PPakSang/README.md
  BOJ/Greedy/1715_카드_정렬하기/PPakSang/Main.java
  BOJ/Greedy/1715_카드_정렬하기/PPakSang/README.md
  BOJ/Greedy/README.md
Labels: Java, Greedy

#48 week11-HyeW
  BOJ/Greedy/10775_공항/HyeW/Airport.java
  BOJ/Greedy/10775_공항/HyeW/README.md
  BOJ/Greedy/1339_단어_수학/HyeW/README.md
  BOJ/Greedy/1339_단어_수학/HyeW/wordMath.java
  BOJ/Greedy/1781_컵라면/HyeW/CupNoodle.java
  BOJ/Greedy/1781_컵라면/HyeW/README.md
  BOJ/Greedy/2437_저울/HyeW/BalanceWeight.java
  BOJ/Greedy/2437_저울/HyeW/README.md
Labels: Java, Greedy

#47 week11-PPakSang
  BOJ/Greedy/10775_공항/PPakSang/Main.java
  BOJ/Greedy/10775_공항/PPakSang/README.md
  BOJ/Greedy/1781_컵라면/PPakSang/Main.java
  BOJ/Greedy/1781_컵라면/PPakSang/README.md
  BOJ/Greedy/2437_저울/PPakSang/Main.java
  BOJ/Greedy/2437_저울/PPakSang/README.md
Labels: Java, Greedy

#51 week12-PPakSang
  BOJ/Dijkstra/1753_최단경로/PPakSang/Main.java
  BOJ/Dijkstra/1753_최단경로/PPakSang/README.md
  BOJ/Dijkstra/1916_최소비용_구하기/PPakSang/Main.java
  BOJ/Dijkstra/1916_최소비용_구하기/PPakSang/README.md
  BOJ/Dijkstra/4485_녹색_옷_입은_애가_젤다지/PPakSang/Main.java
  BOJ/Dijkstra/4485_녹색_옷_입은_애가_젤다지/PPakSang/README.md
Labels: Java, Dijkstra

#50 week12-doheez
  BOJ/Dijkstra/1753_최단경로/doheez/Main.java
  BOJ/Dijkstra/1753_최단경로/doheez/READEME.md
  BOJ/Dijkstra/1916_최소비용_구하기/doheez/Main.java
  BOJ/Dijkstra/1916_최소비용_구하기/doheez/READEME.md
  BOJ/Dijkstra/4485_녹색_옷_입은_애가_젤다지/doheez/Main.java
  BOJ/Dijkstra/4485_녹색_옷_입은_애가_젤다지/doheez/READEME.md
  BOJ/Dijkstra/README.md
Labels: Java, Dijkstra

#52 week12-HyeW
  BOJ/Dijkstra/1753_최단경로/HyeW/README.md
  BOJ/Dijkstra/1753_최단경로/HyeW/ShortestPath.java
  BOJ/Dijkstra/1916_최소비용_구하기/HyeW/MinCost.java
  BOJ/Dijkstra/1916_최소비용_구하기/HyeW/README.md
  BOJ/Dijkstra/4485_녹색_옷_입은_애가_젤다지/HyeW/GreenClothes.java
  BOJ/Dijkstra/4485_녹색_옷_입은_애가_젤다지/HyeW/README.md
Labels: Java, Dijkstra
